1. [Lesson 1 - data types, strings, integers, floats, type() basic arithmetic operations.](https://arc.net/l/quote/mvjgqsyf)

In [1]:
10

10

In [2]:
type(10)

int

In [3]:
type("Lucas")

str

In [4]:
type(2.5)

float

In [5]:
2.5 + 10

12.5

In [6]:
"Lucas" + 10

TypeError: can only concatenate str (not "int") to str

In [7]:
"Lucas" + " loves some good pancakes"

'Lucas loves some good pancakes'

In Python there are different types of data, we can perform operations on that data, and there are operations we can do and operations we can't do, depending on the types of data involved.

What kind of operations are there?

In [8]:
# Addition

10 + 20

30

In [11]:
# Subtraction

20 - 10

10

In [9]:
# Multiplication

20 * 10

200

In [10]:
# Division

20 / 2

10.0

Besides these simple operations, we also have 'fancy' operations, meaning, operations that are not so common:

In [12]:
# Modulus - after dividing by the biggest integer possible it will return what remains

5 % 2

1

# $$ a \bmod n = a - n \lfloor \frac{a}{n} \rfloor $$

$$5 \bmod n = 5 - 2 \times 2 = 1 $$

In [14]:
# Floor division - How many times can you fit the denominator into the numerator

5 // 2

2

In [15]:
# Exponentiation

5 ** 2

25

But how about operations on strings?

In [16]:
# Addition - NOPE
2 + "Lucas"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
# Subtraction - NOPE

2 - "L"

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [18]:
# Multiplication - YEP

2 * "Lucas"

'LucasLucas'

In [19]:
# Division - NOPE

2 / "L"

TypeError: unsupported operand type(s) for /: 'int' and 'str'

You can check out all the possible operations allowed in Python here:

- https://docs.python.org/3/library/datatypes.html

When in doubt, just use the `type()` built-in Python function to discover what type of data you have:

In [20]:
type(10)

int

In [21]:
type(10.2)

float

In [22]:
type("Lucas")

str

In [23]:
type([1,2,3])

list

In [26]:
# Getting freaky....
type(type)

type

# Additional things we can do with strings

In [2]:
name = "Lucas" # here we are assigning variables! We haven't learned that yet so don't worry!
age = 33
f"Hello! my name is {name} and I am {age} years old."

'Hello! my name is Lucas and I am 33 years old.'

F-strings allow you to dynamically change a big piece of a string with different values.

We can also have strings with multiple lines:

In [3]:
"""
This is a string with

Multiple

Lines
"""

'\nThis is a string with\n\nMultiple\n\nLines\n'

Notice that the \n characters are supposed to tell Python that lines were skipped.

# Summary of key concepts:
 - Python has different data types like integers (int), floating point numbers (float), strings (str), and lists
 - You can check the type of any value using the built-in type() function
 - Different data types support different operations:
   - Numbers can be added, subtracted, multiplied, divided with other numbers
   - Strings can be concatenated with other strings using +
   - Strings can be multiplied by numbers to repeat them
 - You cannot mix operations between incompatible types (e.g. adding strings and numbers)
 - Type errors will occur if you try to perform invalid operations between different data types
 - You can use f-strings to create dynamic strings that change based on the value of variables
 - You can use triple quotes """ for multi-line strings.